<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>资源管理-管理系统</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>

    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/sparrow.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/sparrow-tree.css?v='+${resource_version}}"/>
    <script language="javascript" type="text/javascript" th:src="@{${resource}+'/scripts/require.js?v='+${resource_version}}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/pure-css/pure.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/layouts-backend.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/modal.css?v='+${resource_version}}"/>

    <script language="javascript" type="text/javascript"
            th:src="@{${resource}+'/ext/scripts/system/language/zh_cn/resource.js?v='+${resource_version}}"></script>
    <script language="javascript" type="text/javascript">
        requirejs.config({
            baseUrl: "[[${resource}]]/scripts",
            paths: {
                resource: '[[${resource}]]/ext/scripts/system/resource_v2'
            }
        });
        var resourceTree;
        require(['sparrow', 'domReady!', 'resource'], function ($, dom, resourceController) {
            $.file.isShowProgress = true;
            $.url.upload = 'http://upload.sparrowzoo.com';
            resourceController.load();
            resourceTree = resourceController.resourceTree;
        });
    </script>
</head>
<body>
<div id="main">
    <div id="pure-g">
        <div class="pure-u-1-5">
            <div class="pure-form pure-form-aligned">
                <fieldset>
                    <legend>资源管理</legend>
                    <div class="pure-control-group">
                        <input class="pure-button" type="button" value="展开全部"
                               onclick="if(this.value==='展开全部')
                                {resourceTree.openAll();this.value='关闭全部'}
                                else
                                {resourceTree.closeAll();this.value='展开全部';}"/>

                        <input class="pure-button" type="button" value="启用菜单"
                               onclick="if(resourceTree.config.showOrder)
                                {this.value='启用菜单';resourceTree.config.showOrder=false;}
                                else
                                {this.value='禁用菜单';resourceTree.config.showOrder=true;$('#divResourceTree').html(resourceTree);}"/>

                    </div>
                    <div id="divResourceTree"></div>
                </fieldset>
            </div>
        </div>

        <div class="pure-u-3-5">
            <div class="pure-form pure-form-aligned">
                <fieldset>
                    <legend> 编辑编码</legend>
                    <div class="pure-control-group">
                        <input class="pure-button pure-button-primary" type="button"
                               id="btnSave" value="保存"/>
                        <input class="pure-button" type="button" id="btnCancel" value="取消"/>
                        <input class="pure-button" type="button" id="btnDelete" value="删除"/>
                    </div>


                    <div class="pure-control-group">
                        <label>资源图标</label>

                        <div id="divIco"></div>
                        <iframe id="null.resource"
                                class="file-frame" frameborder="0"></iframe>
                        <input type="hidden" id="hdnIco" name="icoUrl"/>
                    </div>

                    <div class="pure-control-group">
                        <label>上级资源</label>
                        <input
                                onfocus="$.v.showMessage(resourceInfo,this);"
                                onblur="$.v.ok(resourceInfo,this);"
                                onclick="resourceTree.show(Event,325,400);" type="text"
                                id="txtParentResourceName" readonly="readonly"
                                name="parentResourceName"/>
                        <input name="parentId" type="hidden"
                               id="hdnParentId"/>
                        <span id="errorParentResourceName" class="prompt"></span>
                    </div>

                    <div class="pure-control-group">
                        <label>所属应用</label>
                        <input name="appId"
                               onfocus="$.v.showMessage(resourceInfo,this);"
                               onblur="$.v.ok(resourceInfo,this);"
                               onclick="" type="text"
                               id="txtAppName"/>
                        <!--                        <input name="appId" value="1" type="hidden"-->
                        <!--                               id="hdnAppId"/>-->
                        <span id="errorAppName" class="prompt"></span>
                    </div>

                    <div class="pure-control-group">
                        <label>权限标识</label>
                        <input type="text"
                               onfocus="$.v.showMessage(resourceInfo,this);"
                               onblur="$.v.isNull(resourceInfo,this);" maxlength="100"
                               id="txtPermission" name="permission"/>
                        <span id="errorPermission"
                              class="prompt"></span>
                    </div>

                    <div class="pure-control-group">
                        <label>URL</label>
                        <input id="txtUrl"
                               onfocus="$.v.showMessage(resourceInfo,this);"
                               onblur="$.v.isNull(resourceInfo,this);" type="text"
                               name="url"/>
                        <span id="errorUrl" class="prompt"></span>
                    </div>

                    <div class="pure-control-group">
                        <label>资源名称</label>
                        <input id="txtResourceName"
                               onfocus="$.v.showMessage(resourceInfo,this);"
                               onblur="$.v.isNull(resourceInfo,this);" type="text"
                               name="name"/>
                        <span id="errorResourceName" class="prompt"></span>
                    </div>

                    <div class="pure-control-group">
                        <label>请求方法</label>
                        <input id="txtMethod"
                               onfocus="$.v.showMessage(resourceInfo,this);"
                               onblur="$.v.allowInputOption(resourceInfo,this);" type="text"
                               name="method"/>
                        <span id="errorMethod"
                              class="prompt"></span>
                    </div>

                    <div class="pure-control-group">
                        <label>打开方式</label>
                        <input id="txtOpenType"
                               onfocus="$.v.showMessage(resourceInfo,this);"
                               onblur="$.v.allowInputOption(resourceInfo,this);" type="text"
                               name="openType"/>
                        <span id="errorOpenType" class="prompt"></span>
                    </div>

                    <div class="pure-control-group">
                        <label>资源类别</label>
                        <input
                                onfocus="$.v.showMessage(resourceInfo,this)"
                                onblur="$.v.allowInputOption(resourceInfo,this);"
                                type="text" maxlength="100" id="txtResourceType"
                                name="resourceType"/>
                        <span id="errorResourceType" class="prompt"></span>
                    </div>
                    <div class="pure-control-group">
                        <label>资源状态</label>
                        <input
                                onfocus="$.v.showMessage(resourceInfo,this)"
                                onblur="$.v.allowInputOption(resourceInfo,this);" type="text"
                                maxlength="100" id="txtStatus" name="status"/>
                        <span id="errorStatus" class="prompt"></span>
                    </div>
                    <div class="pure-control-group">
                        <label>资源描述</label><textarea
                            onblur="$.v.ok(resourceInfo,this);"
                            onkeyup="$.v.updateTxtCount(this,'spanTxtCount','500');" rows="4"
                            cols="21" id="txtRemark" name="remark"></textarea> <br/>
                        您还可以输入： <span id="spanTxtCount">500</span>个字符/500
                        <span class="error" id="errorRemark"></span>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
</body>
</html>


