<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>操作成功！-管理系统</title>
    <meta content="" name="keywords"/>
    <meta content="操作成功！" name="description"/>
    <meta content="管理系统" name="application-name"/>
    <meta content="管理系统" name="msapplication-tooltip"/>
    <link href="http://r.sparrowzoo.net/styles/pure-css/pure-min.css?v=1.0.1" rel="stylesheet" type="text/css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="http://r.sparrowzoo.net/styles/layouts-old-ie.css?v=1.0.1"/>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="http://r.sparrowzoo.net/styles/layouts.css?v=1.0.1" rel="stylesheet" type="text/css"/>
    <!--<![endif]-->
    <link href="http://r.sparrowzoo.net/styles/sparrow.css?v=1.0.1" rel="stylesheet" type="text/css"/>
    <script language="javascript" src="http://r.sparrowzoo.net/scripts/sparrow.js?v=1.0.1"
            type="text/javascript"></script>

    <script language="javascript" type="text/javascript">
        function clickRedirect() {
            var queryString = '[[${#httpServletRequest.getQueryString()}]]';
            window.location.href = queryString;
        }
    </script>
</head>
<body>
<script language="javascript" src="http://r.sparrowzoo.net/scripts/baidu.js?v=1.0.1" type="text/javascript"></script>
<div class="body">
    <div class="header">
        <h1>操作成功！</h1>
        <h2>

        </h2>
    </div>
    <div class="content">
        <input id="hdnQueryString" th:value="${#httpServletRequest.getQueryString()}" type="hidden"/>
        <span id="timer">50000</span>秒以后将自动跳转,或者
        <a href="javascript:void(0);" id="hyperQueryString" onclick="clickRedirect()"
           target="_self">直接点击这里跳转</a>
        <script type="text/javascript">
            $.waitRedirect("timer");
        </script>
        <a href="http://admin.sparrowzoo.com">或点击这里,直接返回首页</a>
    </div>
</div>
</body>
</html>
