<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.security.admin.dao.DepartmentDAO">
    <resultMap id="DepartmentMap" type="com.sparrow.security.po.Department">
        <id column="id" property="id"/>
        <result column="pinyin" property="pinyin"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="manager" property="manager"/>
        <result column="telephone" property="telephone"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="modified_user_id" property="modifiedUserId"/>
        <result column="modified_user_name" property="modifiedUserName"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="fields">
        `id`,`pinyin`,`code`,`name`,`parent_id`,`manager`,`telephone`,`type`,`sort`,`status`,`create_user_name`,`create_user_id`,`modified_user_id`,`modified_user_name`,`gmt_create`,`gmt_modified`,`deleted`
    </sql>
    <insert id="insert" parameterType="com.sparrow.security.po.Department" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        insert into `t_department`(
        `pinyin`,
        `code`,
        `name`,
        `parent_id`,
        `manager`,
        `telephone`,
        `type`,
        `sort`,
        `status`,
        `create_user_name`,
        `create_user_id`,
        `modified_user_id`,
        `modified_user_name`,
        `gmt_create`,
        `gmt_modified`,
        `deleted`)values(
        #{pinyin},
        #{code},
        #{name},
        #{parentId},
        #{manager},
        #{telephone},
        #{type},
        #{sort},
        #{status},
        #{createUserName},
        #{createUserId},
        #{modifiedUserId},
        #{modifiedUserName},
        #{gmtCreate},
        #{gmtModified},
        #{deleted})
    </insert>
    <update id="update" parameterType="com.sparrow.security.po.Department">
        update `t_department` set
        `pinyin`=#{pinyin},
        `code`=#{code},
        `name`=#{name},
        `parent_id`=#{parentId},
        `manager`=#{manager},
        `telephone`=#{telephone},
        `type`=#{type},
        `sort`=#{sort},
        `modified_user_id`=#{modifiedUserId},
        `modified_user_name`=#{modifiedUserName},
        `gmt_modified`=#{gmtModified},
        `deleted`=#{deleted} where id=#{id}
    </update>
    <delete id="delete" parameterType="java.lang.Long">
        delete from `t_department` where id=#{id}
    </delete>
    <select id="getEntity" resultMap="DepartmentMap" parameterType="java.lang.Long">
        SELECT
        <include refid="fields"/>
        FROM
        t_department
        WHERE id= #{id}
    </select>
    <update id="changeStatus" parameterType="com.sparrow.protocol.dao.StatusCriteria">
        update `t_department` set `status`=#{status},
        `modified_user_name`=#{modifiedUserName},
        `modified_user_id`=#{modifiedUserId},
        `gmt_modified`=#{gmtModified} WHERE id IN
        <foreach collection="idArray" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>
