<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.security.admin.dao.DictTypeI18nDAO">
<resultMap id="DictTypeI18nMap" type="com.sparrow.security.po.DictTypeI18n">
<id column="id" property="id" />
 <result column="dict_type_id" property="dictTypeId"/>
 <result column="locale" property="locale"/>
 <result column="type_name" property="typeName"/>
 <result column="create_user_name" property="createUserName"/>
 <result column="create_user_id" property="createUserId"/>
 <result column="modified_user_id" property="modifiedUserId"/>
 <result column="modified_user_name" property="modifiedUserName"/>
 <result column="gmt_create" property="gmtCreate"/>
 <result column="gmt_modified" property="gmtModified"/>
 <result column="deleted" property="deleted"/>
 <result column="status" property="status"/>
</resultMap>
<sql id="fields">
`id`,`dict_type_id`,`locale`,`type_name`,`create_user_name`,`create_user_id`,`modified_user_id`,`modified_user_name`,`gmt_create`,`gmt_modified`,`deleted`,`status`
</sql>
<insert id="insert" parameterType="com.sparrow.security.po.DictTypeI18n"  useGeneratedKeys="true" keyColumn="id" keyProperty="id">
insert into `t_dict_type_i18n`(
`dict_type_id`,
`locale`,
`type_name`,
`create_user_name`,
`create_user_id`,
`modified_user_id`,
`modified_user_name`,
`gmt_create`,
`gmt_modified`,
`deleted`,
`status`)values(
#{dictTypeId},
#{locale},
#{typeName},
#{createUserName},
#{createUserId},
#{modifiedUserId},
#{modifiedUserName},
#{gmtCreate},
#{gmtModified},
#{deleted},
#{status})</insert> 
<update id="update" parameterType="com.sparrow.security.po.DictTypeI18n">
update `t_dict_type_i18n` set 
`locale`=#{locale},
`type_name`=#{typeName},
`modified_user_id`=#{modifiedUserId},
`modified_user_name`=#{modifiedUserName},
`gmt_modified`=#{gmtModified},
`deleted`=#{deleted} where id=#{id}
</update>
<delete id="delete" parameterType="java.lang.Long">
delete from `t_dict_type_i18n` where id=#{id}
</delete>
<select id="getEntity" resultMap="DictTypeI18nMap" parameterType="java.lang.Long">
 SELECT 
<include refid="fields"/>
 FROM 
t_dict_type_i18n
WHERE id= #{id}
</select>
<update id="changeStatus" parameterType="com.sparrow.protocol.dao.StatusCriteria">
update `t_dict_type_i18n` set `status`=#{status},
`modified_user_name`=#{modifiedUserName},
 `modified_user_id`=#{modifiedUserId},
 `gmt_modified`=#{gmtModified} WHERE id IN
<foreach collection="idArray" item="id" index="index" open="(" close=")" separator=",">
#{id}</foreach>
</update></mapper>