<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.security.admin.dao.DictTypeDAO">
<resultMap id="DictTypeMap" type="com.sparrow.security.po.DictType">
<id column="id" property="id" />
 <result column="tenant_id" property="tenantId"/>
 <result column="type_code" property="typeCode"/>
 <result column="sort" property="sort"/>
 <result column="remark" property="remark"/>
 <result column="create_user_name" property="createUserName"/>
 <result column="create_user_id" property="createUserId"/>
 <result column="modified_user_id" property="modifiedUserId"/>
 <result column="modified_user_name" property="modifiedUserName"/>
 <result column="gmt_create" property="gmtCreate"/>
 <result column="gmt_modified" property="gmtModified"/>
 <result column="status" property="status"/>
</resultMap>
<sql id="fields">
`id`,`tenant_id`,`type_code`,`sort`,`remark`,`create_user_name`,`create_user_id`,`modified_user_id`,`modified_user_name`,`gmt_create`,`gmt_modified`,`status`
</sql>
<insert id="insert" parameterType="com.sparrow.security.po.DictType"  useGeneratedKeys="true" keyColumn="id" keyProperty="id">
insert into `t_dict_type`(
`tenant_id`,
`type_code`,
`sort`,
`remark`,
`create_user_name`,
`create_user_id`,
`modified_user_id`,
`modified_user_name`,
`gmt_create`,
`gmt_modified`,
`status`)values(
#{tenantId},
#{typeCode},
#{sort},
#{remark},
#{createUserName},
#{createUserId},
#{modifiedUserId},
#{modifiedUserName},
#{gmtCreate},
#{gmtModified},
#{status})</insert> 
<update id="update" parameterType="com.sparrow.security.po.DictType">
update `t_dict_type` set 
`tenant_id`=#{tenantId},
`sort`=#{sort},
`remark`=#{remark},
`modified_user_id`=#{modifiedUserId},
`modified_user_name`=#{modifiedUserName},
`gmt_modified`=#{gmtModified} where id=#{id}
</update>
<delete id="delete" parameterType="java.lang.Long">
delete from `t_dict_type` where id=#{id}
</delete>
<select id="getEntity" resultMap="DictTypeMap" parameterType="java.lang.Long">
 SELECT 
<include refid="fields"/>
 FROM 
t_dict_type
WHERE id= #{id}
</select>
<update id="changeStatus" parameterType="com.sparrow.protocol.dao.StatusCriteria">
update `t_dict_type` set `status`=#{status},
`modified_user_name`=#{modifiedUserName},
 `modified_user_id`=#{modifiedUserId},
 `gmt_modified`=#{gmtModified} WHERE id IN
<foreach collection="idArray" item="id" index="index" open="(" close=")" separator=",">
#{id}</foreach>
</update></mapper>