<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>微服务新增</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/sparrow.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/pure-css/pure.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{${resource}+'/styles/layouts-backend.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/modal.css?v='+${resource_version}}"/>
    <script language="javascript" type="text/javascript"
            th:src="@{${resource}+'/scripts/require.js?v='+${resource_version}}"></script>
    <script language="javascript" type="text/javascript"
            th:src="@{${resource}+'/ext/scripts/system/language/zh_cn/micro-service.js?v='+${resource_version}}"></script>

    <script language="javascript" type="text/javascript">
        requirejs.config({
            baseUrl: "[[${resource}]]/scripts",
            paths: {
                microService: '[[${resource}]]/ext/scripts/system/micro-service/new'
            }
        });
        var appTooltipTree;
        require(['sparrow', 'domReady!', 'microService'], function ($, dom, microServiceController) {
            $.file.isShowProgress = true;
            $.url.upload = '[[${upload}]]';
            microServiceController.load();
            appTooltipTree=microServiceController.appTooltipTree;

        });
    </script>
    <style type="text/css">
        .inline-block label {
            width: 7em !important;
        }

        .status label {
            width: 3em !important;
        }
    </style>
</head>
<body>
<div id="main">
    <form method="post" class="pure-form pure-form-aligned">
        <fieldset>
            <legend>注: <span class="highlight">*</span>为必添项</legend>
            <div class="pure-control-group">
                <label>微服务图标</label>
                <iframe frameborder="0" id="null.micro_service" class="file-frame"></iframe>
                <input type="hidden" id="hdnMicroServiceId" name="id" th:value="${microService?.id}"/>
                <input type="hidden" id="hdnMicroServiceLogo" name="logo" th:value="${microService?.logo}"/>
                <!--                <span class="prompt" th:text="${microService_icon}" id="errorMicroServiceLogo"></span>-->
            </div>

            <div id="divMicroServiceLogo" class="pure-controls">
                <img th:src="@{${microService?.logo}}">
            </div>
            <div class="pure-control-group">
                <label>微服务名称</label>
                <input type="text" id="txtMicroServiceName" th:value="${microService?.name}" name="name"
                       onfocus='$.v.showMessage(microServiceInfo,this);' onblur='$.v.isNull(microServiceInfo,this);'/>
                <span class="prompt" id="errorMicroServiceName"></span>
            </div>

            <div class="pure-control-group">
                <label>微服务地址url</label>
                <input type="text" id="txtMicroServiceUrl" th:value="${microService?.url}" name="url"
                       onfocus='$.v.showMessage(microServiceInfo,this);'
                       onblur='$.v.isNull(microServiceInfo,this);'/>
                <span class="prompt" id="errorMicroServiceUrl"></span>
            </div>

            <div class="pure-control-group">
                <label>所属应用</label>
                <input type="hidden" id="hdnAppId" name="appId" th:value="${microService?.appId}">
                <input type="text" id="txtAppName" th:value="${microService?.name}" name="name"
                       onfocus='$.v.showMessage(microServiceInfo,this);' onblur='$.v.isNull(microServiceInfo,this);'/>
                <span class="prompt" id="errorAppId"></span>
            </div>

            <div class="pure-control-group">
                <label>排序号</label>
                <input type="text" id="txtMicroServiceSort" th:value="${microService?.sort}" name="sort"
                       onfocus='$.v.showMessage(microServiceInfo,this);'
                       onblur='$.v.isDigital(microServiceInfo,this);'/>
                <span class="prompt" id="errorMicroServiceSort"></span>
            </div>


            <div class="pure-control-group">
                <label>状态</label>
                <div class="inline-block status">
                    <input type="radio" id="rdbMicroServiceStatus00" name="status" value="DISABLE"
                           th:attr="checked=${microService?.status=='DISABLE'}">
                    <label for="rdbMicroServiceStatus00">禁用</label>
                    <input type="radio" id="rdbMicroServiceStatus01" name="status" value="ENABLE"
                           th:attr="checked=${microService?.status=='ENABLE'}">
                    <label for="rdbMicroServiceStatus01">正常</label>
                </div>
                <span class="prompt" id="errorState"></span>
            </div>
            <div class="pure-control-group">
                <label>备注</label>
                <textarea th:text="${microService?.remark}" id="txtRemark" cols='20' rows='5' name="remark"
                          onfocus="$.v.showMessage(microServiceInfo,this);" onblur="$.v.ok(microServiceInfo,this);"
                          onkeyup="$.v.updateTxtCount(this,microServiceInfo.txtRemark.spanTxtCount,500);"></textarea>
                <span class="prompt" id="errorRemark"></span>
            </div>
            <div class="pure-controls">
                您还可以输入：<span id="spanTxtCount" th:text="${microService?.maxRemarkLength}"></span>
                个字符/500
            </div>
            <div class="pure-controls">
                <input id="btnSave" type="button" class="pure-button pure-button-primary"
                       value="提交"/>
                <input id="btnReturn" type="button" class="pure-button"
                       value="返回"/>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>