<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>APP管理</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/pure-css/pure.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/sparrow.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{${resource}+'/styles/layouts-backend.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/modal.css?v='+${resource_version}}"/>
    <script language="javascript" type="text/javascript"
            th:src="@{${resource}+'/scripts/require.js?v='+${resource_version}}"></script>
    <script language="javascript" type="text/javascript"
            th:src="@{${resource}+'/ext/scripts/system/language/zh_cn/app.js?v='+${resource_version}}"></script>
    <script language="javascript" type="text/javascript">
        requirejs.config({
            baseUrl: "[[${resource}]]/scripts",
            paths: {
                app: '[[${resource}]]/ext/scripts/system/app/manage'
            }
        });
        require(['sparrow', 'domReady!', 'app'], function ($, dom, appController) {
            appController.load();
        });
    </script>
</head>
<body>
<div id="main">
    <form method="post" class="pure-form">
        <fieldset>
            <input type="hidden" id="currentPageIndex" th:value="${query?.currentPageIndex}" name="currentPageIndex"/>
            <input type="hidden" id="hdnGridResult" name="ids" gridViewId="grvAppList"
                   keyType="int"/>
            <input type="text" id="txtGroupName" th:value="${query?.name}" name="name" value="" placeholder="APP名称"/>
            <input type="button" class="pure-button pure-button-primary" id="btnSearch"
                   value="查询"/>
        </fieldset>
        <fieldset>
            <input type="button" id="btnAdd" class="pure-button pure-button-primary"
                   value="新建"/>
            <input type="button" class="pure-button" id="btnEnable"
                   title="启用"
                   value="启用"/>
            <input type="button" class="pure-button" id="btnDisable"
                   value="禁用"/>
            <input type="button" id="btnDelete" class="button-error pure-button"
                   title="删除"
                   value="删除"/>
        </fieldset>
    </form>
    <div class="pure-form pure-form-aligned">
        <fieldset>
            <legend>共<span id="spanRecordCount" name="recordCount" class="highlight">[[${pager?.recordCount}]]</span>条记录
            </legend>
            <table class='pure-table' id="grvAppList">
                <thead>
                <tr>
                    <th style="text-align:center;">
                        <input id="grvAppListCheckAll"
                               onclick="$.gridView.allCheckClick(this);" type="checkbox"/>
                    </th>
                    <th style="text-align:center;">名称</th>
                    <th style="text-align:center;">图标</th>
                    <th style="text-align:center;">编码</th>
                    <th style="text-align:center;">序号</th>
                    <th style="text-align:center;">状态</th>
                    <th style="text-align:center;">编辑修改</th>
                </tr>
                </thead>
                <tbody>
                <!--https://zhuanlan.zhihu.com/p/183699043-->
                <tr th:class="${indexStat.odd}?'pure-table-odd'" th:each="app,indexStat : ${pager?.list}">
                    <td width="20px" align="center">
                        <input th:id="${app.id}"
                               onclick="$.gridView.recordCheckClick(this,'grvAppListCheckAll');"
                               type="checkbox" name="grvAppList"/></td>
                    <td width="120px" align="center">[[${app.name}]]</td>
                    <td width="60px" align="left">
                        <img th:src="@{${app?.logo}}" style="width:30px;height:30px" title="图标"/>
                    </td>
                    <td width="80px" align="center" th:text="${app?.code}"></td>
                    <td width="80px" align="center" th:text="${app?.sort}"></td>
                    <td width="30px" align="center" th:utext="${app?.status}"></td>
                    <td width="80px" align="center">
                        <input type="button" th:onclick="window.location.href='new?appId=[[${app.id}]]';"
                               title="编辑"
                               value="编辑" class="pure-button"/></td>
                </tr>
                </tbody>
            </table>
            <div th:utext="${pager.html}"></div>
        </fieldset>
    </div>
</div>
</body>
</html>
