<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>APP新增</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/sparrow.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/pure-css/pure.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/layouts-backend.css?v='+${resource_version}}"/>
    <link rel="stylesheet" type="text/css" th:href="@{${resource}+'/styles/modal.css?v='+${resource_version}}"/>
    <script language="javascript" type="text/javascript"
            th:src="@{${resource}+'/scripts/require.js?v='+${resource_version}}"></script>
    <script language="javascript" type="text/javascript"
            th:src="@{${resource}+'/ext/scripts/system/language/zh_cn/app.js?v='+${resource_version}}"></script>

    <script language="javascript" type="text/javascript">
        requirejs.config({
            baseUrl: "[[${resource}]]/scripts",
            paths: {
                app: '[[${resource}]]/ext/scripts/system/app/new'
            }
        });
        require(['sparrow', 'domReady!', 'app'], function ($, dom, appController) {
            $.file.isShowProgress = true;
            $.url.upload = '[[${upload}]]';
            appController.load();
        });
    </script>
    <style type="text/css">
        .inline-block label {
            width: 7em !important;
        }

        .status label {
            width: 3em !important;
        }
    </style>
</head>
<body>
<div id="main">
    <form method="post" class="pure-form pure-form-aligned">
        <fieldset>
            <legend>注: <span class="highlight">*</span>为必添项</legend>


            <div class="pure-control-group">
                <label>APP图标</label>
                <iframe frameborder="0" id="null.app" class="file-frame"></iframe>
                <input type="hidden" id="hdnAppId" name="id" th:value="${app?.id}"/>
                <input type="hidden" id="hdnAppLogo" name="logo" th:value="${app?.logo}"/>
<!--                <span class="prompt" th:text="${app_icon}" id="errorAppLogo"></span>-->
            </div>
            <div id="divAppLogo" class="pure-controls">
                <img th:src="@{${app?.logo}}">
            </div>
            <div class="pure-control-group">
                <label>APP名称</label>
                <input type="text" id="txtAppName" th:value="${app?.name}" name="name"
                       onfocus='$.v.showMessage(appInfo,this);' onblur='$.v.isNull(appInfo,this);'/>
                <span class="prompt" id="errorAppName"></span>
            </div>

            <div class="pure-control-group">
                <label>APP 编码</label>
                <input type="text" id="txtAppCode" th:value="${app?.code}" name="code"
                       onfocus='$.v.showMessage(appInfo,this);' onblur='$.v.isNull(appInfo,this);'/>
                <span class="prompt" id="errorAppCode"></span>
            </div>

            <div class="pure-control-group">
                <label>排序号</label>
                <input type="text" id="txtAppSort" th:value="${app?.sort}" name="sort"
                       onfocus='$.v.showMessage(appInfo,this);' onblur='$.v.isDigital(appInfo,this);'/>
                <span class="prompt" id="errorAppSort"></span>
            </div>


            <div class="pure-control-group">
                <label>状态</label>
                <div class="inline-block status">
                    <input type="radio" id="rdbAppStatus00" name="status" value="DISABLE"
                           th:attr="checked=${app?.status=='DISABLE'}">
                    <label for="rdbAppStatus00">禁用</label>
                    <input type="radio" id="rdbAppStatus01" name="status" value="ENABLE"
                           th:attr="checked=${app?.status=='ENABLE'}">
                    <label for="rdbAppStatus01">正常</label>
                </div>
                <span class="prompt" id="errorState"></span>
            </div>
            <div class="pure-control-group">
                <label>备注</label>
                <textarea th:text="${app?.remark}" id="txtRemark" cols='20' rows='5' name="remark"
                          onfocus="$.v.showMessage(appInfo,this);" onblur="$.v.ok(appInfo,this);"
                          onkeyup="$.v.updateTxtCount(this,appInfo.txtRemark.spanTxtCount,500);"></textarea>
                <span class="prompt" id="errorRemark"></span>
            </div>
            <div class="pure-controls">
                您还可以输入：<span id="spanTxtCount" th:text="${app?.maxRemarkLength}"></span>
                个字符/500
            </div>
            <div class="pure-controls">
                <input id="btnSave" type="button" class="pure-button pure-button-primary"
                       value="提交"/>
                <input id="btnReturn" type="button" class="pure-button"
                       value="返回"/>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>